<form [formGroup]="form">
  <h4>Model</h4>
  <mat-form-field appearance="fill">
    <mat-label>Favorite model</mat-label>
    <mat-select [formControl]="modelControl" name="model">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let model of models" [value]="model.value">
        {{model.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <h4>Brand</h4>
  <mat-form-field appearance="fill">
    <mat-label>Favorite Car</mat-label>
    <mat-select [formControl]="carControl" name="car">
      <mat-option >None</mat-option>
      <mat-option *ngFor="let car of cars" [value]="car.value">
        {{car.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <h4>You Selected the car: "{{carControl.value}} {{modelControl.value}}"</h4>
</form>



