@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  background-color: #fefefe;
  margin: 5% !important; /* 8% from the top and centered */
  padding: 20px;
  border: 3px solid transparent;
  height: 1px !important;
  width: 50%
}
.basic-container {
  padding: 38px;
}
.top {
  font-size: 15pt;;
  width: 50%;
  float:start;
  padding-right: 100px;
  margin: 8px;
  color: blue ;
}
.copyright {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

